<div class="container">
  <h1>NgFor With Input And Output</h1>
  <p>Use the USERS constant from Users.ts file</p>
  <ol>
    <li>
      Generate as many button as many users in the USERS array into the
      users-button-container div, with the text "Show 'Name' "
    </li>
    <li>
      Show User details in the child component inside the user-detail-container
      div
    </li>
    <li>
      Add DELETE button next to user detailt and if click on it, then remove the
      specific user from the array (remove the button also and clear the
      details)
    </li>
  </ol>
</div>
